@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@font-face {
    font-family: 'CustomFont';
    src: url('./CreatoDisplay-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: fadeIn 2s ease-in-out;
    font-family: 'CustomFont', sans-serif;
   
}

.home {
    text-align: center;
    padding: 20px 0px;
    animation: slideIn 1s ease-in-out;
}

.hero {
    
    background-color: white;
    color: white;
    padding: 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hero .info {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 270px;
}
.info h1{
    text-align: center;
    
}

.hero .info_img {
    /* background-color: orange; */
    width: 50%;
    height: 400px;
    background: url('../../Assets/newhome.png');
    background-position: center;
    background-size: cover;
    border-radius: 20px;




}

.info h1 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #a64da6;
}

.info .Title {
    font-size: 48px;
    margin-bottom: 20px;
    color: #a64da6;

}

.info span {
    font-size: 19px;

}

.info p {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #726e6e;
    font-weight: 700;
}

p span {
    color: #a64da6;
    font-size: 30px;
    font-weight: bold;


}



.hero-btn {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: 15px;
    background-color: #a64da6;
    color: white;
    border: none;
}

.hero-btn:hover {
    background-color: black;
    border: 1px solid white;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
    color: white;
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.card {
    border: 2px solid #a64da6;
   
    border-radius: 28px;

    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    max-width: 250px;
    margin: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 200px;
}

.card-content {
    padding: 5px;
}

.card-title {
    font-size: 1.5em;
    margin: 10px 0;
    color: #a64da6;
}

.card-text {
    font-size: 1em;
    font-weight: 500;
    color: #726e6e;
    text-align: center;
}


.gallery {
    padding: 50px 0;
    background-color: white;
    padding: 50px 0;
    color: white;
    
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.gallery h2{
    color: #a64da6;
}
.card-gallery {
    border: 1px solid #a64da6;
    border-radius: 28px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    min-width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: #a64da6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.card-gallery-content {
    padding: 30px;
    text-align: left;
}

.card-gallery-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.card-list {
    list-style-type: square;
    padding: 0;
}


.card-list li {
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
}
.card-list li:hover {
    color: rgba(0, 0, 0, 0.349);
    font-weight: 700;
}
.card-gallery:hover {
    transform: scale(1.05);
}


.gallery h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.gallery-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-images img {
    margin: 10px;
    width: 100%;
    max-width: 200px;
}

@media (max-width: 1020px){
    .hero {
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        gap: 170px;
    }
    .hero .info_img {
        width: 100%;
        margin-top: 20px;
        height: 200px;

    }
    .here .info {
        width: 100%;
        height: auto;
    }
    .gallery h2 {
        font-size: 28px;
        text-align: center;
    }

    .gallery-images {
        flex-direction: column;
        align-items: center;
    }

    .card-gallery {
        width: 100%;
        min-width: 0; /* Adjust for smaller screens */
        margin: 10px 0;
        padding: 15px; /* Adjust padding for mobile */
    }

    .card-gallery-content {
        padding: 15px;
    }

    .card-gallery-title {
        font-size: 20px;
    }

    .card-list li {
        font-size: 16px;
    }
   

}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        margin-top: 30px;
    }
    .features {
        flex-direction: column;
        flex-wrap: nowrap;
        /* justify-content: center; */
    }

    .feature {
        margin: 40px 0;
        padding: 5px;
    }
    .card{
        
        margin: 20px auto;
    }
    .gallery h2 {
        font-size: 28px;
        text-align: center;
    }

    .gallery-images {
        flex-direction: column;
        align-items: center;
    }

    .card-gallery {
        width: 90%;
        min-width: 0; /* Adjust for smaller screens */
        margin: 10px 0;
        padding: 15px; /* Adjust padding for mobile */
    }

    .card-gallery-content {
        padding: 15px;
    }

    .card-gallery-title {
        font-size: 20px;
    }

    .card-list li {
        font-size: 16px;
    }
}
@media (max-width: 480px) {
    .hero {
        flex-direction: column;
        
        height: auto;
    }
    .info{
       
        height: auto;
        margin: 0;
        padding: 0;

    }
    .info h1{
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
    .info .Title{
        font-size: 30px;
        text-align: center;
        
    }
    .info .Title1{
        font-size: 10px;
        text-align: center;
    }
    .info p{
        width: 100%;
        font-size:20px;
        text-align: center;
    }
    .info p span{
        font-size: 25px;
        text-align: center;
    }
  
    .features {
        flex-direction: column;
        flex-wrap: nowrap;
        /* justify-content: center; */
    }

    .feature {
        margin: 40px 0;
        padding: 5px;
    }
    .card{
        
        margin: 20px auto;
    }
    .gallery h2 {
        font-size: 28px;
        text-align: center;
    }

    .gallery-images {
        flex-direction: column;
        align-items: center;
    }

    .card-gallery {
        width: 90%;
        min-width: 0; /* Adjust for smaller screens */
        margin: 10px 0;
        padding: 15px; /* Adjust padding for mobile */
    }

    .card-gallery-content {
        padding: 15px;
    }

    .card-gallery-title {
        font-size: 20px;
    }

    .card-list li {
        font-size: 16px;
    }
}