

.Displaycontainer {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #a64da6;
}

.error-message {
    color: #d9534f;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    color: #a64da6;
}

tr:hover {
    background-color: #a64da6;
    color: white;
}

td {
    font-size: 0.9rem;
    color: #777;
}

/* Responsive adjustments */

@media (max-width: 768px) {
    .Displaycontainer {
        padding: 15px;
    }

    h2 {
        font-size: 1.5rem;
    }

    th, td {
        padding: 8px;
    }

    td {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .Displaycontainer {
        padding: 10px;
    }

    h2 {
        font-size: 1.2rem;
    }

    th, td {
        padding: 6px;
    }

    td {
        font-size: 0.7rem;
    }

    table, th, td {
        display: block;
        width: 260px;
    }

    th {
        text-align: left;
    }

    td {
        text-align: left;
        position: relative;                                                         
        white-space: nowrap;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 100%;
        padding-left: 10px;
        font-weight: bold;
        white-space: nowrap;
        text-align: left;
    }

    tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: transparent;
    }
}
